<%= turbo_frame_tag "merchants" do %>
    <div class="flex-col" data-controller="merchant">
        <h1 class="text-xl mb-5">Map Merchants</h1>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
            <% @merchants.each do |merchant| %>
                <%= turbo_frame_tag dom_id(merchant) do %>
                    <div class="flex flex-col p-10 bg-white rounded-xl border border-neutral-800">
                        <%= form_with url: update_ynab_mapping_merchants_path, method: :patch do |form| %>
                            <h2 class="font-bold text-xl mb-6"><%= merchant.name %></h2>
                            <%= form.hidden_field :merchant_id, value: merchant.id %>
                            <%= form.select :payee,
                                            @ynab_payees.map { |payee| [payee.name, payee.id] },
                                            {
                                                include_blank: "Choose payee"
                                            },
                                            {
                                                data: {
                                                    merchant_target: "payeeSelect"
                                                },
                                                class: "mb-6"
                                            }
                            %>
                            <!--                            <div class="my-4">-->
                            <%#= form.check_box :exclude %>
                            <%#= form.label :exclude, "Exclude" %>
                            <!--                            </div>-->

                            <div>
                                <%= form.submit "UPDATE",
                                                data: { turbo_submits_with: "Updating..." },
                                                class: "px-6 py-1 font-mono rounded-full bg-neutral-200 border border-neutral-800 hover:bg-neutral-800 hover:text-neutral-300 cursor-pointer" %>
                            </div>
                        <% end %>
                        <%= button_to "EXCLUDE",
                                      exclude_from_merchants_mapping_path,
                                      method: :patch,
                                      params: { merchant_id: merchant.id },
                                      class: "mt-4 px-6 py-1 font-mono rounded-full text-neutral-300 bg-neutral-800 border border-neutral-800 hover:bg-neutral-300 hover:text-neutral-800 cursor-pointer"
                        %>
                    </div>
                <% end %>
            <% end %>
        </div>

    </div>
<% end %>
