<div class="flex-col">
    <h1 class="text-xl mb-5">Map Merchants</h1>
    <% @merchants.each do |merchant| %>
        <%= form_with url: update_ynab_mapping_merchants_path, method: :patch do |form| %>
            <div class="flex flex-col items-start rounded overflow-hidden p-5 mb-4 shadow-lg">
                <h2 class="font-bold text-xl mb-6"><%= merchant.name %></h2>
                <%= form.hidden_field :merchant_id, value: merchant.id %>
                <div class="inline-block relative w-64">
                    <%= form.select :payee,
                                    @ynab_payees.map { |payee| [payee.name, payee.id] },
                                    { include_blank: "Choose payee" },
                                    class: "mb-2 block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    %>
                    <div class="h-9 pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>

                <div class="my-4">
                    <%= form.check_box :exclude %>
                    <%= form.label :exclude, "Exclude" %>
                </div>

                <%= form.submit "Update", class: "bg-transparent hover:bg-gray-600 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded" %>
            </div>
        <% end %>
    <% end %>
</div>
