<!DOCTYPE html>
<html lang="en">
<head>
    <title>YnabInvestec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body class="bg-neutral-200">
<nav class="px-6 md:px-20 py-6 border-b border-neutral-800 flex flex-row justify-between items-center" data-controller="nav">
    <div class="text-2xl font-serif">YNAB Investec</div>
    <div class="">
        <% if user_signed_in? %>
            <%= button_to "Log Out",
                          session_path,
                          method: :delete,
                          class: "hover:bg-neutral-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <% else %>
            <%= link_to "Log In",
                        new_session_path,
                        class: "hover:bg-neutral-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <% end %>
    </div>
</nav>

<div><%= notice %></div>
<div><%= alert %></div>

<main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
</main>
</body>
</html>
